.app {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 60%;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.buttons-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons-wrapper--desc {
    padding: 0 8px;
}

.my-custom-class {
    background: #2650da;
    padding: 12px 20px;
    font-size: 3rem;
    font-style: italic;
    font-family: fantasy;
}


.loading {
    width: 20px;
    height: 20px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}